<div class="login-form">
    <header>Forgot Password</header>
    <form [formGroup]="forgotPasswordForm" class="example-form">
        <mat-form-field>
        <input matInput placeholder="User ID" type="text" required formControlName="userID" name="userID">
        </mat-form-field>
        <div class="error-message" *ngIf="displayErrorMessages('userID')">Please enter UserID</div>
        <mat-form-field>
        <input matInput placeholder="Email ID" type="text" required formControlName="emailID" name="emailID">
        </mat-form-field>
        <div class="error-message" *ngIf="displayErrorMessages('emailID')">Please Enter Email ID</div>
        <div class="error-message" *ngIf="emailMismatch">Email U entered does not match with confirm Email!</div>
        <mat-form-field>
        <input matInput placeholder="Confirm Email ID" type="text" required formControlName="confirmemailID" name="confirmemailID">
        </mat-form-field>
        <div class="error-message" *ngIf="displayErrorMessages('confirmemailID')">Please Enter Confirm Email ID</div>
        <div class="error-message" *ngIf="emailMismatch">Email U entered does not match with confirm Email!</div>
        <div class="padding-top-10">
        <button mat-raised-button type="submit" [disabled]="!forgotPasswordForm.valid || emailMismatch" (click)="onSubmit()" class="pull-right" color="primary">Update Password</button>
        </div>
    </form>
</div>