<div class="left-nav">
    <header class="demo-drawer-header">
        <img src="../../assets/images/admin.png" class="demo-avatar">
        <div class="left-nav-header">
            <span>Welcome Mr. Admin Jhonson</span>
        </div>
    </header>
    <nav class="">
        <a class="left-nav-link" (click)="navigate('subscriber')">
            <i class="left-nav-link-text material-icons" role="presentation">home</i>Subscriber</a>
        <a class="left-nav-link" (click)="navigate('user-type-master')">
            <i class="left-nav-link-text material-icons" role="presentation">inbox</i>User Type List</a>
        <a class="left-nav-link" (click)="navigate('user-master')">
            <i class="left-nav-link-text material-icons" role="presentation">inbox</i>User Master</a>
        <a class="left-nav-link" (click)="navigate('customer-po')">
            <i class="left-nav-link-text material-icons" role="presentation">report</i>Customer P.O.</a>
        <a class="left-nav-link" (click)="navigate('subscriber')">
            <i class="left-nav-link-text material-icons" role="presentation">forum</i>Forums</a>
        <a class="left-nav-link" (click)="navigate('subscriber')">
            <i class="left-nav-link-text material-icons" role="presentation">flag</i>Updates</a>
        <a class="left-nav-link" (click)="navigate('subscriber')">
            <i class="left-nav-link-text material-icons" role="presentation">local_offer</i>Promos</a>
        <div class="mdl-layout-spacer"></div>
        <a class="left-nav-link" (click)="navigate('subscriber')">
            <i class="left-nav-link-text material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
    </nav>
</div>