.align-center {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 1px;
  }
  .div-image {
    width:65%;
    float:left;
    .image_width {
      width: 100%;
      height: 430px;
    }
  }