<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Maintain Facilities / Machines</span>
    </div>
    <form [formGroup]="facilityForm" class="form">
        <mat-form-field>
            <input matInput placeholder="Subscriber Name" type="subscriberName" formControlName="subscriberName" name="subscriberName">
        </mat-form-field>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Facility / Machine Number" type="text" maxlength="10" (change)="checkDuplicates()"
                        s required formControlName="facilityNumber" name="facilityNumber">
                </mat-form-field>
                <div class="error-message" *ngIf="facilityForm.get('facilityNumber').touched && facilityForm.get('facilityNumber').hasError('required')">Please
                    enter Facility / Machine Number</div>
                <div class="error-message" *ngIf="facilityForm.get('facilityNumber').touched && facilityForm.get('facilityNumber').hasError('notUnique')">Facility
                    / Machine Number Exists</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput placeholder="Facility / Machine Name" type="facilityName" maxlength="150" required
                        formControlName="facilityName" name="facilityName">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('facilityName')">Please enter Facility / Machine
                    Name</div>
            </div>
        </div>
        <div class="padding-top-10">
            <button mat-raised-button type="button" (click)="resetForm()" color="primary">RESET</button>
            <button mat-raised-button type="submit" (click)="onSubmit()" class="pull-right" [disabled]="!facilityForm.valid"
                color="primary">SAVE</button>
        </div>
    </form>
    <table class="table">
        <tr class="table-header">
            <td class="header-span" *ngFor="let header of displayColumns">{{header}}</td>
        </tr>
        <tr class="table-column" *ngFor="let element of pagedResults;let index=index;">
            <td>{{element.facilityNumber}}</td>
            <td>{{element.facilityName}}</td>
        </tr>
    </table>
    <div *ngIf="facilitiesList?.length">
        <app-pagination [dataLength]="facilitiesList.length" [(currentPage)]="currentPage" (pageChange)="pageChange($event)"
            [pageSize]="pageSize"></app-pagination>
    </div>
</div>