<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Create UserType Master</span>
    </div>
    <form [formGroup]="userMasterForm" class="form">
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <mat-select matInput placeholder="Subscriber ID" formControlName="subscriberID" name="subscriberID">
                        <mat-option *ngFor="let sub of subcriberService.allSubscribers" [value]="sub.subscriberId">
                            {{ sub.subscriberId }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('subscriberID')">Please Select Subscriber ID</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input autocomplete="off" matInput placeholder="UserType ID" type="text" onlyNumeric formControlName="userTypeID" name="userTypeID" minlength="3" maxlength="3" (blur)="verifyUserType()">
                </mat-form-field>
                <div class="error-message" *ngIf="userMasterForm.get('userTypeID').touched && userMasterForm.get('userTypeID').hasError('required')">Please enter UserType ID</div>
                <div class="error-message" *ngIf="userMasterForm.get('userTypeID')?.touched && userMasterForm.get('userTypeID')?.hasError('userTypeIDNotUnique')">User Type ID exists</div>
                <div class="error-message" *ngIf="userMasterForm.get('userTypeID')?.hasError('minlength')">User Type ID must be atleast 3 characters long.</div>
            </div>
        </div>
        <div class="form-control-field">
            <mat-form-field>
                <input matInput autocomplete="off" maxlength="30" placeholder="UserType Name" type="text" formControlName="userTypeName" name="userTypeName" (blur)="verifyUserType()">
            </mat-form-field>
            <div class="error-message" *ngIf="userMasterForm.get('userTypeName').touched && userMasterForm.get('userTypeName').hasError('required')">Please enter UserType Name</div>
            <div class="error-message" *ngIf="userMasterForm.get('userTypeName')?.touched && userMasterForm.get('userTypeName')?.hasError('userTypeNameNotUnique')">User Type Name exists</div>
        </div>
        <div class="padding-top-10">
            <button mat-raised-button type="submit" [disabled]="!userMasterForm.valid" (click)="createOrUpdateUserType()" class="pull-right" color="primary">SAVE</button>
        </div>

    </form>
</div>