.layout {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  .layout-header {
    background: #263238;
    color: #fff;
    height: 55px;
    padding-top: 20px;
    span {
      padding-left: 3%;
      font-size: 2em;
    }
    .margin-right-5 {
      margin-right: 5%;
    }
  }
}
