.layout {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  .layout-header {
    background: #263238;
    color: #fff;
    height: 55px;
    padding-top: 20px;
    span {
      padding-left: 3%;
      font-size: 2em;
    }
    .margin-right-5 {
      margin-right: 5%;
    }
  }
}
.mat-toolbar.mat-primary {
  background-color: #263238;
  color: #fff;
  height: 30px;
  p {
    font-size: 14px;
  }
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}