<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Maintain Customer P.O.</span>
    </div>
    <form [formGroup]="customerPOForm">
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Subscriber Name" type="subscriberName" formControlName="subscriberName"
                        name="subscriberName">
                </mat-form-field>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <mat-select matInput placeholder="Customer Component/Product Drawing Number" (selectionChange)="onDrawNumberChange()"
                        required formControlName="componentId" name="componentId">
                        <mat-option *ngFor="let sub of componentProductDrawingNumberList" [value]="sub.componentId">
                            {{ sub.componentProductDrawNumber }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('componentId')">Please
                    select Customer Component/Product Drawing Number</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Customer PO Number" type="text" maxlength="30" (change)="checkDuplicates()"
                        required formControlName="customerPONumber" name="customerPONumber">
                </mat-form-field>
                <div class="error-message" *ngIf="customerPOForm.get('customerPONumber').touched && customerPOForm.get('customerPONumber').hasError('required')">Please
                    enter Customer PO Number</div>
                <div class="error-message" *ngIf="customerPOForm.get('customerPONumber').touched && customerPOForm.get('customerPONumber').hasError('notUnique')">Customer
                    P.O. Exists</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput class="date-picker" [matDatepicker]="picker" readonly (click)="picker.open()"
                        placeholder="Customer PO Date" formControlName="customerPODate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="isUpdate"></mat-datepicker>
                </mat-form-field>
                <div class="error-message" *ngIf="customerPOForm.get('customerPODate').touched && customerPOForm.get('customerPODate').hasError('required')">Please
                    enter Customer PO Date</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Customer PO Quantity" maxlength="5" type="text" onlyNumeric required
                        formControlName="customerPOQuantity" name="customerPOQuantity">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('customerPOQuantity')">Please
                    enter Customer PO Quantity</div>
            </div>
        </div>
        <div class="form-control-field">
            <mat-form-field>
                <textarea matInput placeholder="P.O. Notes" maxlength="150" formControlName="poNotes" name="poNotes"></textarea>
            </mat-form-field>
        </div>
        <div class="padding-top-30">
            <button mat-raised-button type="button" (click)="cancelEdit()" color="primary">{{isEdit ? 'CANCEL' : 'RESET'}}</button>
            <button mat-raised-button type="submit" [disabled]="!customerPOForm.valid" (click)="onSubmit()" class="pull-right"
                color="primary">SAVE</button>
        </div>
    </form>
    <table class="table">
        <tr class="table-header">
            <td class="header-span" *ngFor="let header of displayColumns">{{header}}</td>
            <td class="header-span">Edit</td>
            <td class="header-span">Delete</td>
        </tr>
        <tr class="table-column" *ngFor="let element of pagedResults;let index=index;">
            <td>{{element.componentProductDrawNum}}</td>
            <td>{{element.customerPONumber}}</td>
            <td>{{element.customerPODate}}</td>
            <td>{{element.customerPOQuantity}}</td>
            <td style="text-align: center; padding-top: 5px;"><i class="material-icons" (click)="onEdit(element, index)">edit</i></td>
            <td style="text-align: center; padding-top: 5px;"><i class="material-icons" (click)="delete(element)">delete_forever</i></td>
        </tr>
    </table>
    <div *ngIf="customerPOList?.length">
        <app-pagination [dataLength]="customerPOList.length" [(currentPage)]="currentPage" (pageChange)="pageChange($event)" [pageSize]="pageSize"></app-pagination>
    </div>
</div>