<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Create Admin</span>
    </div>
    <form [formGroup]="form" class="form">
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Admin User ID" type="text" formControlName="userName" (blur)="validateAdmin()" name="userName">
                </mat-form-field>
                <div class="error-message" *ngIf="form.get('userName')?.hasError('userNameNotUnique')">Admin User ID exists</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password" name="password">
                </mat-form-field>
                <div class="error-message" *ngIf="form.get('password')?.errors?.pattern">
                    The password should be of length 8 to 16 characters with at least one uppercase alphabet, one lower
                    case alphabet, one numerical
                    and one special character
                </div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                        name="confirmPassword">
                </mat-form-field>
                <div class="error-message" *ngIf="form.hasError('notSame')">Passwords do not match</div>
            </div>
        </div>
        <div class="padding-top-10">
            <button mat-raised-button type="submit" [disabled]="!form.valid" (click)="save()" class="pull-right" color="primary">SAVE</button>
        </div>
    </form>
</div>