<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Maintain Inspection Master</span>
    </div>
    <form [formGroup]="inspectionsForm" class="form">
        <mat-form-field>
            <input matInput placeholder="Subscriber Name" type="text" formControlName="subscriberName" name="subscriberName">
        </mat-form-field>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <mat-select matInput [disabled]="isUpdate" placeholder="Component / Product Drawing Number" required formControlName="componentProductDrawNumber"
                        name="componentProductDrawNumber" (selectionChange)="onProdDrawNumberChange()">
                        <mat-option *ngFor="let component of componentDataList" [value]="component.componentProductDrawNumber">
                            {{ component.componentProductDrawNumber }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('componentProductDrawNumber')">Please select
                    Component / Product Drawing Number</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput placeholder="Component / Product Name" type="text" required formControlName="componentProductName"
                        name="componentProductName">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('componentProductName')">Please Enter Component
                    / Product Name</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Component / Product Number" type="text" required formControlName="componentProductNumber"
                        name="componentProductNumber">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('componentProductNumber')">Please Enter
                    Component / Product Number</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput placeholder="Component / Product Material" type="text" required formControlName="componentProductMaterial"
                        name="componentProductMaterial">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('componentProductMaterial')">Please Enter
                    Component / Product Material</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <mat-select matInput [disabled]="isUpdate" placeholder="Inspection Type" required formControlName="inspectionType" name="inspectionType">
                        <mat-option *ngFor="let type of inspectionTypeList" [value]="type.inspTypeId">
                            {{ type.inspTypeName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('inspectionType')">Please Select
                    Inspection Type</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <mat-select matInput placeholder="Inspection Stage" required name="inspectionStage"  
                    formControlName="inspectionStage" (selectionChange)="validateInspectionStage()"> 
                        <!--multiple (onSelectionChange)="validateInspectionStage()"-->
                        <mat-option *ngFor="let stage of inspectionStageList" [value]="stage.inspStageId">
                            {{ stage.inspStageName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('inspectionStage')">Please Select Inspection
                    Stage</div>
            </div>
        </div>
        <mat-form-field>
            <textarea matInput placeholder="Component / Product Notes" formControlName="componentProductNotes"
                name="workJobOrderNotes"></textarea>
        </mat-form-field>
        <div class="padding-top-10 form-actions">
            <button mat-raised-button type="submit" [disabled]="!inspectionsForm.valid" (click)="isUpdate ? updateInspectionMaster() : saveInspectionMaster()" color="primary">SAVE</button>
            <button mat-raised-button type="submit" (click)="resetInspectionMaster()" color="primary">CANCEL</button>
        </div>
    </form> 
</div>
<div class="inspecion-master-list">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">      
            <ng-container *ngFor="let column of tableColumns; let colIndex = index" matColumnDef="{{column.columnDef}}">
                <th mat-header-cell *matHeaderCellDef>{{column.columnName}}</th>
                <td mat-cell *matCellDef="let element "> {{element[column.columnDef]}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element "><mat-icon (click)="editInspectionMaster(element)">edit</mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element "><mat-icon (click)="deleteInspectionMaster(element)">delete</mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [hidePageSize]="true" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>