<div class="layout-header">
    <span class="header-span">Dashboard</span>
</div>
<div class="width-100" style="padding-top:3%; padding-bottom: 3%;">
    <div class="report-box padding-right">
        <div class="expand-icon"><i title="View Subscribers" (click)="navigateTo('subscribers')" class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Subscribers</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{subscriberService?.allSubscribers?.length || 0}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Users</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{usersListCount}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Inspection Details</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{inspectionTypeList.length}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="width-100" style="padding-top:3%; padding-bottom: 3%;">
    <div class="report-box padding-right">
        <div class="expand-icon"><i title="View Subscribers" (click)="navigateTo('subscribers')" class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Subscribers</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{subscriberService?.allSubscribers?.length || 0}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Users</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{usersListCount}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Inspection Details</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{inspectionTypeList.length}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="width-100" style="padding-top:3%; padding-bottom: 3%;">
    <div class="report-box padding-right">
        <div class="expand-icon"><i title="View Subscribers" (click)="navigateTo('subscribers')" class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Subscribers</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{subscriberService?.allSubscribers?.length || 0}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Users</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{usersListCount}}</h3>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="report-box padding-right">
        <div class="expand-icon"><i class="material-icons">aspect_ratio</i></div>
        <div class=" padding-right card">
            <p class="card-category">Inspection Details</p>
            <div class="width-100">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-div">
                    <h3 class="card-title">{{inspectionTypeList.length}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <p></p>
            </div>
        </div>
    </div>
</div>