/* .card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
} */
.dashboard {
    width: 100%;
    padding-top: 5px;
   }
   .left-nav {
     background-color: #263238;
     border-radius: 20px 20px 0 0;
     flex-wrap: nowrap;
     width: 25%;
     height: 100%;
     max-height: 100%;
     float: left;
   }
   .demo-drawer-header {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding: 16px;
     height: 151px;
     border-bottom: 2px solid #eceff1;
   }
   .left-nav-header {
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: #eceff1;
     padding-top: 15px;
   }
   .demo-avatar {
     width: 80px;
     height: 80px;
     border-radius: 50px;
   }
   
   .left-nav-link {
     padding: 0px 100px 0px 30px;
     align-items: center;
     color: rgba(255, 255, 255, 0.56);
     font-weight: 500;
     line-height: 56px;
     letter-spacing: 0;
     opacity: .87;
     font-size: 14px;
     text-decoration: none;
   }
   .left-nav-link-text {
     margin-right: 20px;
   }
   .body {
     width: 71%;
     border: 2px solid #263238;
     border-radius: 15px;
     float: right;
     padding: 15px;
     margin-bottom: 10px;
   }
   .alert-body {
     width: 71.5%;
     float: right;
     padding-bottom: 10px;
   }
   .dashboard-chart {
     width: 100%;
     height: 100%;
     border-radius: 5px;
   }
   .report-box-1 {
     background-color: #50F1BD;
   }
   .report-box-2 {
    background-color: #D83C40;
  }
  .report-box-3 {
    background-color: #842A9B;
  }
  .report-box-4 {
    background-color: #FFD832;
  }
  .report-box-5 {
    background-color: #26ADE5;
  }
  .report-box-6 {
    background-color: #28B779;
  }
   .report-box {
     color: #ffffff;
     width: 29%;
     height: 160px;
     float: left;
     border: 0;
     border-radius: 5%;
   }
   .expand-icon {
     float: right;
     margin-right: 3%;
     .material-icons {
       font-size: 12px;
     }
   }
   .padding-right {
     margin-right: 2%;
     margin-left: 2%;
   }
   .card {
     text-align: right;
     padding-right: 3%;
     .card-icon {
       float: left;
       margin-top: -20px;
       .material-icons {
         font-size: 70px;
       }
     }
     .card-category {
       font-size: 18px;
     }
     .card-div {
       border: 1px solid #ffffff;
       width: 23%;
       text-align: center;
       float: right;
       border-radius: 50%;
       margin-top: -3%;
       .card-title {
         color: #ffffff;
         font-size: 18px;
       }
     }
   }
   .card-footer {
     margin-top: 40%;
     border-top: 1px solid #ffffff;
     p {
       margin-top: 4%;
       font-size: 14px;
     }
   }
   .chart-1 {
     width: 45%;
       float: left;
       margin-right: 3%;
       border: 1px solid #999;
       border-radius: 5px;
       background: #ffffff;
   }
   
   .chart-2 {
     width: 45%;
       float: left;
       border: 1px solid #999;
       border-radius: 5px;
       background: #ffffff;
   }