html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
}
.width-100 {
  width: 100%;
  clear: both;
}
table {
  background-color: white;
  width: 100%;
  tr {
    line-height: 30px;
    .header {
      color: rgba(0,0,0,.54);
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.alert-message {
  color: #f44336;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  font-size: small;
  margin-top: -10px;
  padding-bottom: 10px;
}
.align-center {
  text-align:center
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-5 {
  padding-top: 5px;
}
.margin-right-5 {
  margin-right: 5%;
}
.error-message {
  color: #f44336;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  font-size: small;
  margin-top: -10px;
  padding-bottom: 10px;
}
.form > * {
  width: 100%;
  padding-top: 10px;
}
.form {
  padding-left: 20px;
  padding-right: 20px;
}
.layout-header {
  min-height: 50px;
  color: #757575;
  background-color: lightgray;
  padding-left: 15px;
  border-radius: 10px;
}
.header-span {
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 1.2em;
  letter-spacing: .02em;
  top: 15px;
  color: #263238;
}
.form-control-field-left {
  width: 45%;
  padding-right: 2%;
  float: left;
}
.form-control-field-right {
  width: 50%;
  padding-left: 2%;
  float: left;
}
.form-control-field-3-left {
  width: 30%;
  padding-right: 3.5%;
  float: left;
}
.form-control-field-3-right {
  width: 30%;
  float: left;
}
.form-control-field-3-middle {
  width: 30%;
  padding-right: 3.5%;
  float: left;
}
.form-control-field {
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-30 {
  padding-top: 30px;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: darkgray;
  font-weight: 500;
  font-size: 20px;
}


table {
  background-color: transparent;
  .table-header {
      background: #263238;
      .header-span {
          color: white;
          padding: 1% 0 2% 0;
          text-align: center;
          font-size: 16px;
      }
  }
  .table-column {
      color: #263238;
      background: white;
      td {
          padding-left: 10px;
          font-size: 14px;
          .material-icons {
              font-size: 20px;
          }
      }
  }
  .table-column:nth-child(even) {
      background: #f9f9f9;
  }
}