<div class="form-content">
    <div class="layout-header">
        <span class="header-span">Maintain Work / Job Order</span>
    </div>
    <form [formGroup]="workJobOrderForm" class="form">
        <mat-form-field>
            <input matInput placeholder="Subscriber Name" type="subscriberName" formControlName="subscriberName"
                name="subscriberName">
        </mat-form-field>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <mat-select matInput placeholder="Component / Product Drawing Number" required formControlName="productDrawingNumberionTypeID"
                        name="productDrawingNumberionTypeID" (selectionChange)="selectComponentData()">
                        <mat-option *ngFor="let componentData of componentDataList" [value]="componentData.componentProductDrawNumber">
                            {{ componentData.componentProductDrawNumber }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('productDrawingNumberionTypeID')">Please Enter
                    Component / Product Drawing Number</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <mat-select matInput placeholder="Customer P.O. Number" (selectionChange)="validateWorkJobOrderAndCustomerPO()" required formControlName="customerPONumber"
                        name="customerPONumber">
                        <mat-option *ngFor="let customerPO of customerPOList" [value]="customerPO">
                            {{ customerPO }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('customerPONumber')">Please Enter Customer P.O.
                    Number</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Work / Job Order Number" autocomplete="off" type="text" onlyNumeric maxlength="10" formControlName="workJobOrderNumber"
                        name="workJobOrderNumber" (blur)="validateWorkJobOrderAndCustomerPO()">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('workJobOrderNumber')">Please Select Work / Job
                    Order Number</div>
            </div>
            <div class="form-control-field-right">
                    <mat-form-field>
                        <input matInput class="date-picker" [matDatepicker]="picker" readonly (click)="picker.open()" placeholder="Work / Job Order Date" formControlName="workJobOrderDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('workJobOrderDate')">Please Enter Work / Job
                    Order Date</div>
            </div>
        </div>
        <div class="width-100">
            <div class="form-control-field-3-left">
                <mat-form-field>
                    <input matInput placeholder="Lot Number" autocomplete="off" maxlength="10" (blur)="validateLotNumber()" type="text" formControlName="lotNumber" name="lotNumber">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('lotNumber')">Please Enter Lot Number</div>
            </div>
            <div class="form-control-field-3-middle">
                <mat-form-field>
                    <input matInput placeholder="Lot Size" autocomplete="off" (blur)="validateLotSize()" onlyNumeric maxlength="5" type="text" formControlName="lotSize" name="lotSize">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('lotSize')">Please Enter Lot Size</div>
            </div>
            <div class="form-control-field-3-right">
                <mat-form-field>
                    <input matInput placeholder="Lot Size Units" autocomplete="off" maxlength="5"  type="text" formControlName="lotSizeUnits"
                        name="lotSizeUnits">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('lotSizeUnits')">Please Enter Lot Size Units</div>
            </div>
        </div>
        <mat-form-field>
            <input matInput placeholder="Manufacturing Batch Number" autocomplete="off" (blur)="validateManufacturerBatchNumber()" maxlength="30" type="text" formControlName="manufacturingBatchNumber"
                name="manufacturingBatchNumber">
        </mat-form-field>
        <div class="error-message" *ngIf="displayErrorMessages('manufacturingBatchNumber')">Please Enter
            Manufacturing Batch Number</div>
        <div class="width-100">
            <div class="form-control-field-left">
                <mat-form-field>
                    <input matInput placeholder="Manufacturing Batch Size" autocomplete="off" (blur)="validateManufacturerBatchSize()" maxlength="5" onlyNumeric type="text" formControlName="manufacturingBatchSize"
                        name="manufacturingBatchSize">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('manufacturingBatchSize')">Please Enter
                    Manufacturing Batch Size</div>
            </div>
            <div class="form-control-field-right">
                <mat-form-field>
                    <input matInput placeholder="Manufacturing Batch Units" autocomplete="off" maxlength="5" type="text" formControlName="manufacturingBatchUnits"
                        name="manufacturingBatchUnits">
                </mat-form-field>
                <div class="error-message" *ngIf="displayErrorMessages('manufacturingBatchUnits')">Please Enter
                    Manufacturing Batch Units</div>
            </div>
        </div>
        <mat-form-field>
            <textarea matInput placeholder="Work / Job Order Notes" autocomplete="off" maxlength="250" formControlName="workJobOrderNotes" name="workJobOrderNotes"></textarea>
        </mat-form-field>
        <div class="padding-top-10">
            <button mat-raised-button type="submit" [disabled]="!workJobOrderForm.valid" (click)="createWorkJobOrder()" class="pull-right" color="primary">SAVE</button>
        </div>
    </form>
</div>