<div class="login-form">
  <header>Change Password</header>
  <form [formGroup]="resetPasswordForm" class="example-form">
    <mat-form-field>
      <input matInput placeholder="User ID" type="text" required formControlName="userName" name="userName">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('userName')">Please enter UserName</div>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required formControlName="password" name="password">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('password')">Please enter Password</div>
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" required formControlName="newPassword" name="password">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('password')">Please enter New Password</div>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" required formControlName="confirmPassword" name="password">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('confirmPassword')">Please enter Confirm Password</div>
    <div class="padding-top-10">
      <button mat-raised-button type="submit" (click)="onSubmit()" class="pull-right" color="primary">Update Password</button>
    </div>
  </form>
</div>