.login-form {
    border: 2px solid #263238;
    padding: 20px 35px 0px 50px;
    border-radius: 50px 20px;
    width: 30%;
    height: 430px;
    margin-top: 30px;
    margin-left: 35%;
}
  
.example-form > * {
    width: 100%;
}

.pull-right {
    float: right;
}
.error-message {
    color: #f44336;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    font-size: small;
    margin-top: -10px;
    padding-bottom: 10px;
}
header {
    padding-top: 15px;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}