<div class="login-form">
  <header>Change Password</header>
  <form [formGroup]="resetPasswordForm" class="example-form">
    <mat-form-field>
      <input matInput placeholder="User ID" type="text" required formControlName="userName" name="userName">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('userName')">Please enter UserName</div>
    <mat-form-field>
      <input matInput placeholder="Password" type="password"
      pattern='(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}'
      required formControlName="password" name="password">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('password') && resetPasswordForm.get('password').value == null">Please enter Password</div>
    <div class="alert-message" *ngIf="displayErrorMessages('password') && resetPasswordForm.get('password').value != null">
        The password should be of length 8 to 16 characters with at least one uppercase alphabet, one lower case alphabet, one numerical and one special character
      </div>
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" 
      pattern='(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}'
      (blur)="checkPasswordStrength()" required formControlName="newPassword" name="newpassword">
    </mat-form-field>
    <div class="alert-message" *ngIf="displayErrorMessages('newPassword') && resetPasswordForm.get('newPassword').value != null">
        The password should be of length 8 to 16 characters with at least one uppercase alphabet, one lower case alphabet, one numerical and one special character
      </div>
    <!-- <span><mat-icon style="color: red;" >error</mat-icon></span> -->
    <!-- <span style="color: green;" *ngIf="resetPasswordGiven && !resetPasswordForm.get('newPassword').hasError('weakPassword')" class="glyphicon glyphicon-ok"></span> -->
    <!-- <password-strength-meter minPasswordLength=8 *ngIf="newPasswordEnaled && !resetPasswordForm.get('newPassword').hasError('weakPassword')" [password]="newPassword"></password-strength-meter> -->
    <div class="error-message" *ngIf="displayErrorMessages('newPassword') && resetPasswordForm.get('newPassword').value != null">Please enter New Password</div>
    <!-- <div class="error-message" 
  *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').hasError('weakPassword')"> 
    Password Length should be between 8 and 20 character length!</div> -->
    <!-- <div class="error-message" *ngIf="passwordMismatch">"Password and confirm password does not match"</div> -->
    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" required formControlName="confirmPassword" name="confirmpassword">
    </mat-form-field>
    <div class="error-message" *ngIf="displayErrorMessages('confirmPassword')">Please enter Confirm Password</div>
    <div class="error-message" *ngIf="passwordMismatch">"Password and confirm password didnot match"</div>
    <div class="padding-top-10">
      <button mat-raised-button type="submit" [disabled] = "!resetPasswordForm.valid || passwordMismatch" (click)="onSubmit()" class="pull-right" color="primary">Update Password</button>
    </div>
  </form>
</div>